.logo_container{
	width: 960px;
	text-align: center;
	position: relative;
	margin: 0 auto;
	/* background-color: red; */
}
.logo_img{
	width: 200px;
	height: 100px;
	background-size: contain;
	vertical-align:bottom;
}
.header_icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
}
.user_icon{
	background: url("../img/user_icon.png")no-repeat center center;
	background-size: contain;
	right: 40px;
	cursor: pointer;
}
.chart_icon{
	background: url("../img/chart_icon.png")no-repeat center center;
	background-size: contain;
	right: 0;
	cursor: pointer;
}
/* 
	menulist  &  search bar
*/
.menu_container{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.menu_wrap{
	overflow: hidden;
	float: left;
}
.menu_item{
	float: left;
	font: normal 16px 'Poppins';
	color: #232323;
	padding: 10px;
	cursor: pointer;
}
.search_input_wrap input {
	float: right;
	/* border:  1px solid #232323; */
	border-radius: 4px;
	height: 40px;
	width: 300px;
	background-color: #f3f3f3;
}
.search_input_wrap input::placeholder{
	padding: 10px;
}
.error-page{
	padding-top: 50px;
	width: 960px;
	margin: 0 auto;
}
.caution{
	font-size: 32px;
	color: #333;
	margin-bottom: 50px;
	font-weight: 700;
}
.tips{
	font-size: 18px;
	color: #333;
	margin-bottom: 80px;
	font-weight: 700;
}
.error-code{
	margin-bottom: 80px;
}
.go-back{
	font-size: 18px;
	color: #333;
	margin-bottom: 80px;
	font-weight: 700;
	cursor: pointer;
}
